@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
    @apply grid md:grid-cols-customGrid;
    min-height: calc(100vh - 40px);
}

section.hero .shape {
    @apply hidden md:block;
    background-color: #f13a01;
    opacity: 70%;
    width: 50%;
    height: 100%;
    position: absolute;
    border-radius: 40% 20% 0% 20%;
    top: 1;
    right: 0;
    z-index: -1;
}

section.cartContainer {
    min-height: calc(100vh - 250px)
}

.checkoutForm input, textarea {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
}

.checkoutForm > div {
    margin-bottom: 1rem
}

.checkoutForm label {
    font-weight: 600
}

.active {
    color: #1d1d1d;
    border-bottom: 3px solid #f13a01;
}